@layer components {
  /* Typography */
  .h1 {
    @apply font-medium text-[#1a1a1a];
    font-size: 65px;
    line-height: 65px;
  }

  .h2 {
    @apply font-medium text-[#1a1a1a];
    font-family: 'PolySans';
    font-size: 32px;
    line-height: 32px;
  }

  .h3 {
    @apply text-[#1a1a1a];
    font-family: 'PolySans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }

  /* Mobile/H4 */
  .h4 {
    font-family: 'PolySans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
  }

  .h5 {
    @apply text-sm font-medium  text-[#9B9B9B];
  }

  .p1 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .p2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  /* Card */
  .card {
    @apply bg-white rounded border border-[var(--jet-black)] overflow-hidden;
  }

  /* Avatar */
  .avatar {
    @apply w-10 h-10 rounded-full both-center bg-red-400;
  }

  /* Button */
  .button {
    @apply bg-[#F2F2F2] text-[#9B9B9B] font-medium text-base rounded-lg;
  }

  .button-primary {
    @apply button bg-[color:var(--theme-color)] text-white rounded-full flex justify-center items-center;
  }

  /* 适配 md 以上 */
  @media screen and (min-width: 768px) {
    .h2 {
      @apply font-medium text-[#1a1a1a];
      font-family: 'PolySans';
      font-size: 50px;
      line-height: 50px;
    }

    .h3 {
      @apply text-[#1a1a1a];
      font-family: 'PolySans';
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 35px;
    }

    .h5 {
      font-family: 'PolySans';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
    }

    .p1 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    .p2 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .button-primary {
      @apply button bg-[color:var(--theme-color)] text-white rounded-full flex justify-center items-center;
    }

    .hover-card {
      @apply w-[333px];
    }
  }
}
